<header class="w-100" id="top">
  <img class="logo" src="img/wr_logo.svg" alt="">
  <label for="menu-checkbox" class="menu-icon">
    <i class="fa fa-bars"></i>
  </label>
  <input type="checkbox" id="menu-checkbox" />
  <div class="menu-wrapper">
    <div class="menu">
      <ul class="nav-list">
        <li><a href="https://ti.to/webrebels/2017">tickets <i class="fa fa-check"></i></a></li>
        <li><a id="talks-btn" href="#talks">talks <i class="fa fa-microphone"></i></a></li>
        <!-- <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li> -->
        <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
        <li><a href="#about">about <i class="fa fa-question"></i></a></li>
      </ul>
    </div>
  </div>
  <nav id="desktop-nav">
    <div>
      <ul class="nav-list">
        <li class="fist-icon">{{{wrSvg}}}</li>
        <li><a href="https://ti.to/webrebels/2017">tickets <i class="fa fa-check"></i></a></li>
        <li><a href="#talks">talks <i class="fa fa-microphone"></i></a></li>
        <!-- <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li> -->
        <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
        <li><a href="#about">about <i class="fa fa-question"></i></a></li>
      </ul>
    </div>
  </nav>
</header>
<section id="talks">
  <h1>Talks</h1>
  <div class="left-column section-content">
    <p>Two days, one track, <br/> 16 speakers &amp; 16 talks!</p>
    <ul class="talk-nav">
      {{#each talks as |talk index|}}
      <li><a href="#talk-{{index}}">{{talk.title}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="right-column">
    {{#each talks as |talk index|}}
      <div id="talk-{{index}}" class="talk">
        <div class="talk-details">
          <h2>{{talk.title}}</h2>
          <p>{{talk.description}}</p>
        </div>
        <div class="presenter-details cf">
          {{#each talk.presenters as |presenter index|}}
          <img class="fl w-25" src="{{iconUrl}}" alt="Profile image for {{name}}"/>
          <div class="details-wrapper w-75 fl">
            <p class="name">{{name}}</p>
            <p class="intro">{{intro}}</p>
            <ul class="links">
              {{#if twitter}}
              <li><a href="https://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i>Twitter</a></li>
              {{/if}}
              {{#if github}}
              <li><a href="https://github.com/{{github}}"><i class="fa fa-github"></i>Github</a></li>
              {{/if}}
            </ul>
          </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</section>
{{!> schedule}}
<section id="location">
  <h1>Location</h1>
  <div class="left-column section-content">
    <p>Where is the venue and <br/> how do i get there?</p>
  </div>
  <div class="right-column">
    <h4>Welcome to Grünerløkka and Vulkan</h4>
    <p>
      Everything related to the conference happens at Vulkan, Grünerløkka,
      within a 100m radius of the venue:
      the conference, lunch and the social events.
    </p>
    <h5>Venue</h5>
    <img src="img/venue.jpg" title="Dansens Hus (House of Dance)" />
    <p>
      Welcome to “Dansens hus” which is the National Stage for Dance. Located
      right next door to Mathallen and with it's larger capacity it is an
      ideal location for our conference for our 5th edition.
    </p>

    <h5>Lunch at Mathallen</h5>
    <p>
      Right next door from Dansens hus is Mathallen which is Oslo’s first
      gourmet food market and located about 20 meters from the venue. There is
      a wide selection of gourmet food stores, restaurants, excellent coffee
      and beer shops. All food served at the conference will be provided from
      these establishments.
    </p>
    <img src="img/mathallen-small.jpg">

    <h5>Accessibility</h5>
    <p>
      The venue is wheelchair accessible. The entrance is on the ground floor.
      If you have any questions about practicalities – or if there is anything
      we can do to make your attendance possible, please do not hesitate to
      <a href="mailto:boyhowdy[ replace this bracket with a @]webrebels.org">
        shoot us an email
      </a>.
    </p>
    <iframe
      width="400"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=&q=place_id:ChIJZz5sxmVuQUYRQH8r2qkM2Zo" allowfullscreen>
    </iframe>
    <img src="/img/location_map_placeholder.png" alt="Map for venue location"/>
  </div>
</section>
<section id="about">
  <h1>About</h1>
  <div class="left-column section-content">
    <p>Web Rebels is all about the <br/> the community and good times.</p>
  </div>
  <div class="right-column">
    <ul class="about-sections">
      <li class="with-background">
        <div class="icon js-svg-wrapper">
          {{{jsSvg}}}
        </div>
        <div class="content">
          <h4>A JavaScript Conference</h4>
          <p>
            The Web Rebels conference is a JavaScript conference and we are
            proud members of <a href="http://jsconf.com/">the JSConf family of
            events</a>. We are a conference for developers who love building
            applications and services using web technology.
          </p>
        </div>
      </li>
      <li>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="content">
          <h4>For the community, not for profit</h4>

          <p>
            We are a
            <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">
              registered not-for-profit organization
            </a>
            that is run by unpaid volunteers. If we make any profit from the
            conference we give 30% back to community groups throughout the
            Nordic region. Any questions you might have:
            <a href="mailto:kontor[ replace this bracket with a @
                     ]webrebels.org">shoot us an email</a>
            or find us on
            <a href="http://twitter.com/web_rebels/">Twitter</a>.
          </p>
          <p>
            We invite
            <a href="#talks">16 speakers</a>.
            We do not have a CFP and our <a href="./policies">policy</a>
            is that speakers at the conference get paid for their travel and
            accommodation. We do not sell speaker slots and we do not accept
            sales pitches masked as presentations.
          </p>
        </div>
      </li>
      <li>
        <div class="icon">
          <i class="fa fa-exchange"></i>
        </div>
        <div class="content">
          <h4 id="coc">Code of Conduct</h4>
          <p>
            We want these couple of days to be truly enjoyable for everyone.
            Attendees, speakers, sponsors and volunteers must all respect the
            <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>.
            <br>
            If anything happens that we should know about, contact a member of the crew.
          </p>
        </div>
      </li>
      <li>
        <div class="icon fist-svg-wrapper">
          {{{fistSvg}}}
        </div>
        <div class="content">
          <h4>Web Rebels</h4>
          <h5>Web Rebel crew</h5>
          <p>The volunteers working to bring you the 5th Web Rebels Conference are:</p>
          <ol>
            <li>Agneta Nilsson (<a href="https://twitter.com/agneta_nilsson">@agneta_nilsson</a>)</li>
            <li>Alexandra Leisse (<a href="https://github.com/troubalex">@troubalex</a>)</li>
            <li>Anders Olsen Sandvik (<a href="https://github.com/Andersos">@Andersos</a>)</li>
            <li>Bodil Stokke (<a href="https://github.com/bodil">@bodil</a>)</li>
            <li>Espen Dalløkken (<a href="https://github.com/leftieFriele">@leftieFriele</a>)</li>
            <li>Jon Koslung (<a href="https://twitter.com/nle">@nle</a>)</li>
            <li>Max Brosnahan (<a href="https://github.com/gingermusketeer">@gingermusketeer)</a></li>
            <li>Richard Walker (<a href="https://github.com/digitalsadhu">@digitalsadhu</a>)</li>
            <li>Trygve Lie (<a href="https://github.com/trygve-lie">@trygve-lie</a>)</li>
          </ol>
          <h5>Our policies</h5>
          <h3>Sponsors</h3>
          <p>
            Our <a href="./sponsors/packages">sponsorship options</a> states
            what each sponsoring package contains. Even though we work with
            sponsors on things outside of that standard packages, the following
            sponsor policy apply:
          </p>
          <ul>
              <li>We do not sell speaker slots</li>
              <li>We do not accept sales pitches masked as presentations</li>
              <li>We do not differentiate between speakers from partners and independent speakers</li>
          </ul>

          <h3 id="ticketrefund">Ticket refund policy</h3>
          <p>
            We have a refund policy for tickets which is
            <a href="https://github.com/webrebels/rebeladmin/wiki/TicketRefunds">
              described on our wiki
            </a>.
            If you have any questions about this, please do not hesitate to contact us.
          </p>
          <h3>Speakers</h3>
          <p>For invited speakers we cover:</p>
          <ul>
              <li>All travel to and from the conference hotel / venue</li>
              <li>Stay at the conference hotel during the conference</li>
              <li>Admission to the conference and all conference related activities</li>
              <li>Speakers dinner and all meals during the conference</li>
              <li>All beverages on the pre conference party and conference party</li>
              <li>A public transport card giving full access to all public transport in Oslo</li>
          </ul>
          <p>
            Upon invitation to speak at Web Rebels, each speaker is informed
            about the above. Though, each speaker are also informed that if the
            speakers employee would consider covering, in full or partly, the
            speakers travel cost we are more than happy to work out a
            sponsorship deal and what is saved upon such a deal are put back
            into making the conference better.
          </p>
          <h3>General</h3>
          <p>
            Everyone taking part in the Web Rebels Conference must abide by our
            <a href="#coc">Code of Conduct</a>.
          </p>
          <h5>Previous Web Rebel Confs</h5>
          <p>
            Below are links to previous conference websites. If you're looking for the videos they're all
            in our
            <a href="https://www.youtube.com/channel/UCM9cTs_C0PmTlHXTNrqTpnw">YouTube channel</a>.
          </p>
          <ol>
            <li><a href="http://2016.webrebels.org/">2016 edition</a></li>
            <li><a href="http://2015.webrebels.org/">2015 edition</a></li>
            <li><a href="http://2014.webrebels.org/">2014 edition</a></li>
            <li><a href="http://2013.webrebels.org/">2013 edition</a></li>
            <li><a href="http://2012.webrebels.org/">2012 edition</a></li>
          </ol>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="sponsors">
  <h1>Sponsors</h1>
  <div class="section-content">
    <p>Web Rebels would not be possible<br/> without our awesome sponsors.</p>
    <ul>
      <li><a href=""><img src="/img/sponsors/acando.svg" alt="Acando"/></a></li>
      <li><a href=""><img src="/img/sponsors/bekk.png" alt="Bekk"/></a></li>
      <li><a href=""><img src="/img/sponsors/computas.png" alt="Computas" /></a></li>
      <li><a href=""><img src="/img/sponsors/confirmit.svg" alt="Confirmit" /></a></li>
      <li><a href=""><img src="/img/sponsors/knowit.png" alt="Knowit" /></a></li>
      <li><a href=""><img src="/img/sponsors/kodemaker.png" alt="Kodemaker" /></a></li>
      <li><a href=""><img src="/img/sponsors/netlife.png" alt="Netlife" /></a></li>
      <li><a href=""><img src="/img/sponsors/systek.svg" alt="Systek" /></a></li>
      <li><a href=""><img src="/img/sponsors/webstep.png" alt="Webstep" /></a></li>
      <li><a href=""><img src="/img/sponsors/nearform.svg" alt="Nearform" /></a></li>
      <li><a href=""><img src="/img/sponsors/google.svg" alt="Google" /></a></li>
    </ul>
  </div>
</section>

<footer>
  <h5>Web Rebels</h5>
  <p>
    A community driven conference for and by developers who love creating stuff with web technology. A member of the JSConf family of conferences.
  </p>
  <p>Based in Oslo, Norway.</p>
  <h5>Contact</h5>
  <p>Any questions you might have, please do not hesitate to shoot us an e-mail or ask on Twitter.</p>
  <h5>Social media</h5>
  <ul>
    <li>
      <a href="http://twitter.com/web_rebels/">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/explore/tags/webrebels/">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.flickr.com/photos/webrebels/">
        <i class="fa fa-flickr"></i></li>
      </a>
    <li>
      <a href="https://github.com/webrebels">
        <i class="fa fa-github"></i>
      </a>
    </li>
  </ul>
  <h5>Newsletter</h5>
  <p>
    Sign up for
    <a href="http://webrebels.us3.list-manage1.com/subscribe?u=f515e6756e5ffeffd7a28a60d&id=7d5e649dbe">
      our newsletter
    </a>.
  </p>
  <!-- <form> -->
  <!-- <input type="text" name="email" placeholder="Enter your e-mail..."/> -->
  <!-- <button type="submit">Sign up</button> -->
  <!-- </form> -->

  <div class="fist-svg-wrapper">
      {{{fistSvg}}}
  </div>
</footer>
<script type="text/javascript">
 var docEl = document.documentElement
 var header = document.getElementById('top')
 var desktopNav = document.getElementById('desktop-nav')
 var desktopNavHeight = desktopNav.getBoundingClientRect().height
 var waitingForFrame = false
 var linkTimeout = null
 var talks = Array.prototype.slice.call(document.querySelectorAll('.talk'))
 var sections = Array.prototype.slice.call(document.querySelectorAll('section'))

 function updateOnScroll () {
   var sTop = (this.pageYOffset || docEl.scrollTop)  - (docEl.clientTop || 0);
   if (header.getBoundingClientRect().bottom <= desktopNavHeight) {
     desktopNav.classList.add('floating');
   } else {
     desktopNav.classList.remove('floating');
   }

   var topPositions = talks.map(function(talk){ return talk.getBoundingClientRect().top })
   var negPositions = topPositions.filter(function (pos) { return pos - 100 < 0 })
   var activePos = Math.max.apply(Math, negPositions.concat(topPositions[0]))
   var activeTalk = talks[topPositions.indexOf(activePos)]
   talks.forEach(function (talk) { talk.classList.remove('selected-talk')})
   activeTalk.classList.add('selected-talk')

   sections.forEach(function (section) {
     var rect = section.getBoundingClientRect()
     if (rect.top <= 0 && rect.top + rect.height) {
       section.classList.add('active-section')
     } else {
       section.classList.remove('active-section')
     }
   })
   waitingForFrame = false
 }

 window.onscroll = function () {
   if (!waitingForFrame) {
     window.requestAnimationFrame(updateOnScroll)
     waitingForFrame = true
   }
 }
</script>
<script>{{{ scrollScript }}}</script>
