<header class="w-100" id="top">
  <img class="logo" src="img/wr_logo.svg" alt="">
  <label for="menu-checkbox" class="menu-icon">
    <i class="fa fa-bars"></i>
  </label>
  <input type="checkbox" id="menu-checkbox" />
  <div class="menu">
    <ul class="nav-list">
      <li><a href="#tickets">tickets <i class="fa fa-check"></i></a></li>
      <li><a href="#talks">talks <i class="fa fa-microphone"></i></a></li>
      <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li>
      <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
      <li><a href="#about">about <i class="fa fa-question"></i></a></li>
    </ul>
  </div>
  <nav>
    <div>
      <ul class="nav-list">
        <li>{{{wrSvg}}}</li>
        <li><a href="#tickets">tickets <i class="fa fa-check"></i></a></li>
        <li><a href="#talks">talks <i class="fa fa-microphone"></i></a></li>
        <li><a href="#schedule">schedule <i class="fa fa-calendar"></i></a></li>
        <li><a href="#location">location <i class="fa fa-location-arrow"></i></a></li>
        <li><a href="#about">about <i class="fa fa-question"></i></a></li>
      </ul>
    </div>
  </nav>
</header>
<section id="talks">
  <h1>Talks</h1>
  <div class="left-column section-content">
    <p>Two days, one track, <br/> 16 speakers &amp; 16 talks!</p>
    <ul class="talk-nav">
      {{#each talks as |talk index|}}
      <li><a href="#talk-{{index}}">{{talk.title}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="right-column">
    {{#each talks as |talk index|}}
      <div id="talk-{{index}}" class="selected-talk">
        <div class="talk-details">
          <h2>{{talk.title}}</h2>
          <p>{{talk.description}}</p>
        </div>
        <div class="presenter-details cf">
          {{#with talk.presenter}}
          <img class="fl w-25" src="{{iconUrl}}" alt="Profile image for {{name}}"/>
          <div class="details-wrapper w-75 fl">
            <p class="name">{{name}}</p>
            <p class="intro">{{intro}}</p>
            <ul class="links">
              <li><a href="https://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i>Twitter</a></li>
              <li><a href="https://github.com/{{github}}"><i class="fa fa-github"></i></a>Github</li>
            </ul>
          </div>
          {{/with}}
        </div>
      </div>
    {{/each}}
  </div>
</section>
<section id="schedule">
  <h1>Schedule</h1>
  <div class="left-column section-content">
    <p>What's happening when. <br /> Changes can occur.</p>
  </div>
  <div class="right-column">
    {{#each days as |details day|}}
    <h2>{{day}}</h2>
    <p>{{details.description}}</p>
    <ol class="day-schedule">
       {{#each details.schedule as |item|}}
       <li class="schedule-item">
         <div class="time">{{time}}</div>
         <div class="info">
           <span class="title">{{item.title}}</span>
           <span class="details">{{item.details}}</span>
         </div>
       </li>
       {{/each}}
    </ol>
    {{/each}}
  </div>
</section>
<section id="location">
  <h1>Location</h1>
  <div class="left-column section-content">
    <p>Where is the venue and <br/> how do i get there?</p>
  </div>
  <div class="right-column">
    <h4>The venue</h4>
    <p>The vulkan area.....</p>
    <h5>Public transport</h5>
    <p>Take the bus...</p>
    <h5>Accessibility</h5>
    <p>The venue is wheelchair accessible....</p>
    <img src="/img/location_map_placeholder.png" alt="Map for venue location"/>
  </div>
</section>
<section id="about">
  <h1>About</h1>
  <div class="left-column section-content">
    <p>Web Rebels is all about the <br/> the community and good times.</p>
  </div>
  <div class="right-column">
    <ul class="about-sections">
      <li class="with-background">
        <div class="icon js-svg-wrapper">
          {{{jsSvg}}}
        </div>
        <div class="content">
          <h4>A JavaScript Conference</h4>
          <p>akdhjsfakjh fadhjsf ladfhslkahs dfjkl</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="content">
          <h4>For the community, not for profit</h4>
          <p>akdhjsfakjh fadhjsf ladfhslkahs dfjkl</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <i class="fa fa-exchange"></i>
        </div>
        <div class="content">
          <h4>Code of Conduct</h4>
          <p>akdhjsfakjh fadhjsf ladfhslkahs dfjkl</p>
        </div>
      </li>
      <li>
        <div class="icon fist-svg-wrapper">
          {{{fistSvg}}}
        </div>
        <div class="content">
          <h4>Web Rebels</h4>
          <h5>Web Rebel crew</h5>
          <p>akdhjsfakjh fadhjsf ladfhslkahs dfjkl</p>
          <ol>
            <li>Bob</li>
          </ol>
          <h5>Our policies</h5>
          <p>akdhjsfakjh fpadhjsf ladfhslkahs dfjkl</p>
          <h5>Previous Web Rebel Confs</h5>
          <p>akdhjsfakjh fadhjsf ladfhslkahs dfjkl</p>
          <ol>
            <li>2016</li>
            <li>2015</li>
            <li>2014</li>
            <li>2013</li>
            <li>2012</li>
          </ol>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="sponsors">
  <h1>Sponsors</h1>
  <div class="section-content">
    <p>Web Rebels would not be possible<br/> without our awesome sponsors
    <ul>
      <li>logo goes here</li>
    </ul>
  </div>
</section>

<footer>
  <h5>Web Rebels</h5>
  <p>
    A community driven conference for and by developers who love creating stuff with web technology. A member of the JSConf family of conferences.
  </p>
  <p>Based in Oslo, Norway.</p>
  <h5>Contact</h5>
  <p>Any questions you might have, please do not hesitate to shoot us an e-mail or ask on Twitter.</p>
  <h5>Social media</h5>
  <ul>
    <li><i class="fa fa-twitter"></i></li>
    <li><i class="fa fa-instagram"></i></li>
    <li><i class="fa fa-flickr"></i></li>
    <li><i class="fa fa-tumblr-square"></i></li>
    <li><i class="fa fa-github"></i></li>
  </ul>
  <h5>Newsletter</h5>
  <form>
    <input type="text" name="email" placeholder="Enter your e-mail..."/>
    <button type="submit">Sign up</button>
  </form>

  <div class="fist-svg-wrapper">
    {{{fistSvg}}}
  </div>
</footer>
