<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{{pageTitle}}</title>
    <meta property="og:title" content="{{pageTitle}}" />
    <meta property="og:type" content="website" />
    <!--meta property="og:url" content="{{url}}" /-->
    <meta property="og:image" content="https://www.webrebels.org/img/classof2014.jpg" />
    <meta property="og:description" content="Web Rebels is a non-profit, community driven conference for everyone who loves developing applications and services using web technology." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@web_rebels" />
    <meta name="twitter:title" content="{{pageTitle}}" />
    <meta name="twitter:description" content="Web Rebels is a non-profit, community driven conference for everyone who loves developing applications and services using web technology.">
    <meta name="twitter:image" content="https://2014.webrebels.org/img/logo-webrebels.png" />
    <!--meta name="twitter:url" content="{{url}}" /-->
    <meta name="description" content="Web Rebels is a non-profit, community driven conference for everyone who loves developing applications and services using web technology.">
    {{> analytics}}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
    <script src="http://localhost:8080/main.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
